In [ ]:
# "Life is too short, you need python"
# "a"
# "123"

In [2]:
# 문자열에 작은 따옴표 포함하기

"python's favorite food is perl"

"python's favorite food is perl"

In [3]:
# 문자여레 큰 따옴표 포함하기

'"python is very easy." he says'

'"python is very easy." he says'

In [5]:
# 백슬래시를 사용해서 작은따옴표 와 큰 따옴표를 문자열에 포함하기

'python\'s favorite food is perl'

"\"python is very easy.\" he says."

'"python is very easy." he says.'

In [12]:
# 여러줄인 문자열을 변수에 대입할때 #

multiline = """Lfie is too short
               you need python"""

multiline

'Lfie is too short\n               you need python\t'

In [ ]:
# 활용빈도가 높은것은 \n(문자열안에서 줄을 바꿀때), \t(문자열 사이에 간격을 줄때) 이다

In [16]:
# 문자열 연산

head = "python"
tail = " is fun"

head + tail

'python is fun'

In [17]:
a = "python"
a*2

'pythonpython'

In [23]:
print("=" * 50)
print("my program")
print("=" * 50)

==================================================
my program
==================================================

In [29]:
# 문자열 슬라이싱

a = "Life is too short, you nedd python"

a[:18]

'Life is too short,'

In [31]:
a[1:]

# 끝번호는 0 이라고 생각하면 끝번호-1 => 0-1 = -1 이라서 끝까지가 된다.

'ife is too short, you nedd python'

In [40]:
a[30:-1]

# 무조건 끝 번호는 -1+-1 = -2까지 해서 슬라이싱된다.

'tho'

In [43]:
# 슬라이싱 응용

a = "20010331Rainay"

year = a[:4]
print(year)
day = a[4:8]
print(day)
weather = a[8:]
print(weather)

2001
0331
Rainay

In [44]:
# 문자열 자료는 immutable 자료형이다.

a = "Pithon"

a[:1]

a[2:]

a[:1] +'y'+a[2:]

'Python'

In [45]:
# f_문자열 포매팅

name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [49]:
age = 30

f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [54]:
d = {'name': '홍길동', 'age': 30}

f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]+200000}입니다.'

# 문자는 문자 숫자는 숫자끼리 연산된다. 꼭 명심

'나의 이름은 홍길동ㅇㅁㄴㅇ입니다. 나이는 200030입니다.'

In [56]:
# f문자열에서 { } 문자를 표시하려면 다음과 같이 두개를 동시에 사용해야한다.
f"{{and}}"

'{and}'

In [57]:
# 숫자 바로 대입

"I eat %d apple" % 3

'I eat 3 apple'

In [58]:
# 문자열 바로 대입

"I eat %s apples" % "dasd"

'I eat dasd apples'

In [63]:
# 숫자 값을 나타내는 변수로 대입

number = 4

"i eat %d apples" % number

'i eat 4 apples'

In [67]:
# 2개 이상의 값 넣기

number = 10
day = 'three'

'i ate {0} apples. so i was sick foe {1} days.'  . format(number, day)

'i ate 10 apples. so i was sick foe three days.'

In [68]:
# 인덱스와 키워드 매개변수로 혼용에서 넣기

number = 10
day = 'three'

'i ate {0} apples. so i was sick foe {day} days.'  . format(10, day=3)

'i ate 10 apples. so i was sick foe 3 days.'

In [73]:
# 소수점 표현하기

"%0.4f" % 3.4123123

# %는 대입이 가능하다는 뜻이다.

'3.4123'

In [71]:
# 소수점 표현하기2

y = 3.42134234

"{0:0.2f}" . format(y)

'3.42'

In [72]:
"{{and}}" . format()

'{and}'

In [74]:
"error is %d%%" % 98 

# 주의사항  %d%는 뒤에 %가 안붙음.

'error is 98%'