# 파이썬 기초 문법 핵심 보기

In [ ]:
1 + 2

3

In [ ]:
3 / 2.4
3 * 9

27

In [ ]:
a = 1
b = 2
a + b

3

In [ ]:
a = "python"
print(a)

python

In [ ]:
a = "python"
a

'python'

In [ ]:
a = 3
if a > 1:
  print("a is  greater than 1")

a is  greater than 1

In [ ]:
for a in [1,2,3]:
  print(a)

1
2
3

In [ ]:
i=0
while i<3:
  i = i + 1
  print(i)

1
2
3

In [ ]:
def add(a,b):
  return a + b

add(3,4)

7

# 숫자형

In [ ]:
14//3

14 % 3

2

# 문자열 관련 함수

문자열은 자체적으로 함수를 가짐. 같은 말로 문자열 내장 함수라 한다. 
사용법: 변수.함수() 이다.

In [ ]:
a = "hobby"
a.count('b')

2

In [ ]:
a = "python is the best choice"
a.find("b")
a.find("k")  # 이거는 없으면 -1 이 나온다 즉 인덱싱 값을 찾을때 유용하다.

-1

In [ ]:
a = "python is the best choice"

a.index("t") # find 함수와 다른 점은 안나오면 오류가 발생.

2

#문자열 삽입

In [ ]:
",".join('abcd')

"-".join(['abcd', 'csaca'])

In [ ]:
a.upper() # 대문자로 만들기
a.lower()  # 소문자로 만들기

In [ ]:
a = " Hi "
a.lstrip()  # 왼쪽 공백 지우기"

'Hi '

In [ ]:
a = " Hi "
a.rstrip()  # 오른쪽 공백 지우기

' Hi'

In [ ]:
# 양쪽 공백 지우기
 a.strip()

In [ ]:
#문자열 바꾸기
a = "Life is too short"
a.replace("Life", "Your leg")   # replace(바뀌게 될 문자, 바꿀 문자)

'Your leg is too short'

In [ ]:
#문자열 나누기(split)
a = "Life is too short"  # split() 함수는 리스트로 나타내는 점도 유의
a.split("i")

['L', 'fe ', 's too short']

# 리스트

In [ ]:
a = [3, ["a", "b", "c"], 4]
a[1][:2]

['a', 'b']

In [ ]:
a = [1,2,3]
len(a)

3

In [ ]:
a = [1,2,3]

str(a[2]) + "hi"

'3hi'

In [ ]:
# del 함수   del 객체
a = [1,2,3]
del a[1]
a

[1, 3]

In [ ]:
#del 함수 응용
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

# 리스트 관련 함수

In [ ]:
a = [1,2,3]
a.append([4,5454,5,45])
a.append(5)
a

[1, 2, 3, [4, 5454, 5, 45], 5]

In [ ]:
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [ ]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [ ]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [ ]:
a=[1,2,3]
a.index(3)  # 인덱스 값을 알려주는 것.

2

In [ ]:
a = [1,2,3]
a.insert(1,4)  #insert(a,b) a 번째 위치에 b를 삽입하는 함수
a

[1, 4, 2, 3]

In [ ]:
a.insert(3,2)
a

[1, 4, 2, 2, 3, 2, 2, 2, 2]

In [ ]:
a.remove(원소)

In [ ]:
a.pop()  # 뒤에서 부터 제거.
a.pop(1) # 해당 인덱스 원소 제거.

In [ ]:
a = [1,2,3,1]
a.count(1)

2

In [ ]:
a = [1,2,3]
a.extend([4,5,6])  # 이함수는 괄호안에 리스트만 될수 있다. a = a + [4,5] 랑 같다.
a

[1, 2, 3, 4, 5, 6]

In [ ]:
a = [1,2,3]
a = a + [4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [ ]:
b = [8,9]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 8, 9]

# 튜플

In [ ]:
기억할것: 인덱싱, 슬라이싱, 튜플더하기(t1+t2), 튜플 곱하기(t2*3), 튜플길이구하기 len(t1)

In [ ]:
a = (1,2,3)
a + (4,)

(1, 2, 3, 4)

In [ ]:

# 순차적으로 추가되는 것이다.

a = {1: 'a'}  
a[4]= 'b'
a[5]= 'b'
a['name'] = "pey"
a

{1: 'a', 4: 'b', 5: 'b', 'name': 'pey'}

In [ ]:
del a['name']   # 딕셔너리 지울때는 괄호 안에 key만 가능하다.
a

{1: 'a', 4: 'b', 5: 'b'}

# 딕셔너리

# 집합(set)

# 연습문제

In [ ]:
(80 + 75 + 55) // 3

70

In [ ]:
a = 13

홀수 == a % 2 = 1

짝수 == a % 2 = 0

NameError: ignored

In [ ]:
pin = "881120-1068234"
yyyymmdd= pin[:6]
num=pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [ ]:
pin = "881120-1068234"

print(pin[7])

1

In [ ]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [ ]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [ ]:
a = ['Life', 'is', 'too', 'short']

result = " ".join(a)
# print(result)
result             # print로 했을때와 그냥 result로 출력 했을때 차이는 쌍따옴표가 있냐 없냐 차이다.

'Life is too short'

In [ ]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [ ]:
a = {"A":90, 'B':80, 'C':70}
del a["A"]
a
del a["C"]
a
a["B"]

80

In [ ]:
a = {"A":90, 'B':80, 'C':70}
a.pop("A")
a
a.pop('C')
print(a)

{'B': 80}

In [ ]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aset = set(a)
b = list(aset)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
a = b = [1,2,3]
a[1]=4
a
# print(b)

[1, 4, 3]

# 05-1 클래스

In [2]:
# 계산기 더하기 기능 구현

result = 0

def add(num):
    global result  # 함수 밖에 있는 result를 참조한다. 
    result = result + num
    return result

print(add(3))
print(add(4))

3
7

In [6]:
result1 = 0
result2 = 0

def add1(num):
    global result1
    result1 += num
    return result1

def add2(num):
    global result2
    result2 += num
    return result2

print(add1(3))
print(add1(4))   
print(add2(3))   
print(add2(7))

3
7
3
10

In [8]:
# 클래스 계산기 작성
class Calculator:
    def __init__(self):  # 초기값 설정
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

    def sub(self, num):
        self.result -= num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))

3

In [ ]:
class Cookie:
    pass

a = Cookie()
b = Cookie()

# 객체는 클래스로 만들며 1개의 클래스는 무수히 많은 객체를 만들어 낼 수 있다.
# 클래스는 자동차
# 객체는 열쇠로 시동을 거는 것이라고 생각하라.
# 안에 함수는 자동차 에어컨, 브레이크, 가속기등.

In [13]:
# 클래스 작성!!!
class Fourcal:

    def __init__(self, first, second):
        self.first = first
        self.second = second

    def add(self):
        result = self.first + self.second
        return result

    def mul(self):
        result = self.first * self.second 
        return result

    def sub(self):
        result = self.first - self.second
        return result

    def div(self):
        result = self.first / self.second
        return result

a = Fourcal(4,2) # 시동을 걸어줘야지
b = Fourcal(3,8)
a.first
a.second
a.add()
a.div()
b.div()

2.0

In [17]:
# 클래스 상속 : 함수를 추가 할때

class Morefourcal(Fourcal):   # class 자식(부모)
    
    def pow(self):
        result = self.first ** self.second
        return result

a = Morefourcal(4,2)

a.pow()
a.add()
a.sub()

2

In [23]:
# 메서드 오버라이딩 : 말그대로 부모 클래스에 있는 함수를 수정하고자 할때

class Safefourcal(Fourcal):
    
    def div(self):
        if self.second == 0 :  # 나누는 값이 0 인 경우 숫자 0을 돌려주도록 수정
            return 0
        
        else:
            return self.first / self.second

a = Safefourcal(4,0)
b = Safefourcal(3,0)
a.div()
b.div()

0

In [27]:
# 클래스 변수
class Family:
    lastname = "김"

print(Family.lastname)

a = Family()
b = Family()

print(a.lastname)
print(b.lastname)

김
김
김

In [29]:
Family.lastname = "박"

In [32]:
print(a.lastname)
print(b.lastname)

박
박

In [34]:
id(Family.lastname)
id(a.lastname)
id(b.lastname)

# 같은 메모리를 사용

140517432474080